extends mod/_layout
block vars
  - var activePage = "About"

block title
  title crab hermit
block meta
  meta(name='description', content='')
block body
  div.container.text-center
    h3 About
    p gulp
    p webpack
    p babel
    p brawser-sync
    p pug ( jade )
    p stylus
    p jQuery
    p bootstrap
    p lodash
    p moment
