extends mod/_layout
block vars
  - var activePage = "Top"

block title
  title crab hermit

block meta
  meta(name='description', content='')

block body
  div.container.text-center
    h3 Hello
    p thank's
      br
      | autecher, theo parish, moodymann, tortois,
      br
      | jacques greene, oneohtrix point never, arca, 
