extends mod/_layout
block vars
  - var activePage = "Top"

block title
  title crab hermit

block meta
  meta(name='description', content='')

block body
  div.container.text-center
    h3 Hello
    p thank's
      br
      | autecher, theo parrish, moodymann, tortois, Andrew Ashong,
      | jacques greene, oneohtrix point never, arca, Flowers,
      | ANOHNI, Aphex Twin, Banks, BRON-K, EVISBEATS, Flying Lotus,
      | Georgia Anne Muldrow, Olive Oil, K-B, Doseone, manual, 
