extends mod/_layout
block vars
  - var activePage = "SettingStart"

block title
  title crab hermit
block meta
  meta(name='description', content='')
block body
  div.container
    h3 before that
    p node, gulp, bower

    h3 Setting
    pre $npm install
    pre $bower install

    h3 Start
    pre $gulp
